# 6.9.0 文件图标丢失
PyQt6==6.6.1
# PyQtWebEngine
requests
requests_toolbelt

# browser_cookie3
pycryptodomex
lz4
SecretStorage
keyring

# browser_cookie3 requires
# pyaes
# pbkdf2
# keyring
# lz4
# pycryptodome
# SecretStorage
# linux： pip install secretstorage dbus-python